<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test_vueHtml</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .active {
            color: red;
        }
        .text-danger {
            background-color: yellow;    
        }
    </style>
</head>
<body>

    <div id="static" v-bind:class="{active:isActive,'text-danger':hasError}" @click='divClick'>hello word
        <!-- <input type="checkbox"  v-model='toggle' true-value='yes' false-value='no'>   -->
        <select v-model='selected'>
            <option :value='{number:123}'>123</option>
        </select>
    </div>
    <script>
        var vm = new Vue({
            el: '#static',
            data: {
                isActive: true,
                hasError: true,
                a: 1
            },
            methods: {
                divClick() {
                    this.isActive = this.isActive === true ? false : true;
                    this.hasError = this.hasError === true ? false : true;
                }
            }
        })

    </script>

</body>
</html>